{% extends "sitio/layout.html" %} {% load static %}

{% block content %}
    <br><br>

<div class="containernosotros borde2" >

    <h1>
      Nosotros
    </h1>

    <p>

      Cristián Arismendi Barros
      Nuestro negocio viene de una tradición familiar que comenzó con mi padre hace aproximadamente 50 años atrás, y que se ha ido heredando de padre a hijo. Mi trabajo se inició hace treinta años, reparando lámparas y muchos artículos de metal En la avenida Italia estoy desde hace 20 años. Con el paso del tiempo he aprendido sobre restauración y reparación de todo tipo de antigüedades, lámparas, muebles, figuras y objetos curiosos, siempre estamos investigando acerca de este arte. He ido aprendiendo con el tiempo, además, el gusto por lo artístico y prolijo del trabaja, el nivel de maestría y conocimiento que necesito para aplicar materiales y técnicas. El estudio y perfeccionamiento constante me permiten tener un servicio de calidad y confianza.
      

    </p>
    <div class="row  capo">
      <div class=" col adios">
        <center>
          <img src="{% static 'sitio/images/img/portada.jpg' %}" class="img1nosotros">

        </center>

      </div>
      <div class="col ola">
          <p class="letrashistoria">
            Mi sueño es aprender más del arte que tiene este oficio, para legara más personas que lo necesiten, por lo que soy un recuperador con conocimientos sobre las obras de arte. Por lo anterior mi trabajo es una voz autorizada en el área de antigüedades en esta zona del país. En el local de antigüedades Arismendi hemos ido aprendiendo a trabajar con distintos materiales, como madera, vidrio, loza, cristalería, metales nobles, entre otros. Esto nos ayuda a conocer cada día más y mejor el trabajo y el arte que realizamos.
            Nuestro sueño es ser reconocidos como un espacio de antigüedades especializado, serio y responsable, que acerca las antigüedades y su restauración a un público cultor de este tipo de productos. Queremos ser un referente a novel nacional y para eso nos esforzamos día a día, con el soporte de nuestra experiencia y tradición familiar.  
          </p>
          <div class="diviconsredes">
            <a class="redesicon" target="_blank" href="https://www.instagram.com/antiguedades.arismendi/?hl=es ">
              <img src="{% static 'sitio/images/img/instagram (1).png' %}">

            </a>
            <br>
            <a class="redesicon" href="https://www.facebook.com/AntiguedadesArismendi"  target="_blank"  >
              <img src="{% static 'sitio/images/img/facebook.png' %}">
            </a >
            <h2 cursive>
              ¡Búscanos en nuestras redes sociales!
            </h2>

          </div>
      </div>
    </div>
  </div>

{% endblock %}